<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>All Users</h2>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Operation</th>
        </tr>
        <th:block th:each="user : ${user}">
            <tr>
                <td th:text="${user.getId()}">Value</td>
                <td th:text="${user.getName()} ">Value</td>
                <td th:text="${user.getSurname()}">Value</td>
                <td th:text="${user.getAge()} ">Value</td>
                <td><form th:method="GET" th:action="@{/api/user/update-page/{id}(id=${user.getId()})}">
                    <input type="submit" value="Update"/></form></td>
                <td><form th:method="POST" th:action="@{/api/user/delete/{id}(id=${user.getId()})}">
                    <input type="submit" value="Delete"/></form></td>
            </tr>
        </th:block>
        <br>
    </table>
    <input type="button" value="Create"
           onclick="window.location.href = '/api/user/add-page'"/>
</div>
</body>
</html>